@media only screen and (max-width: 1440px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-grid,
  .edgtf-container-inner,
  .edgtf-grid-section .edgtf-section-inner,
  .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (min-width: 1490px) and (max-width: 1650px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-grid-section .edgtf-section-inner,
  .edgtf-header-vertical .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 1100px;
  }
}

@media only screen and (min-width: 1314px) and (max-width: 1490px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-grid-section .edgtf-section-inner,
  .edgtf-header-vertical .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1314px) {
  .edgtf-header-vertical .edgtf-grid,
  .edgtf-header-vertical .edgtf-container-inner,
  .edgtf-header-vertical .edgtf-grid-section .edgtf-section-inner,
  .edgtf-header-vertical .edgtf-slider .carousel-inner .edgtf-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 1440px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header {
    width: 1290px;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header {
    width: 1180px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header {
    width: 1020px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header {
    width: 860px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-boxed .edgtf-wrapper .edgtf-wrapper-inner,
  .edgtf-boxed .edgtf-wrapper .edgtf-footer-inner,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed,
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-no-border-1024 .vc_column-inner {
    border: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-content {
    margin-top: 0px !important;
  }
  .edgtf-section .edgtf-row-overlap {
    margin-top: -70px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-section .edgtf-row-overlap,
  .edgtf-section .edgtf-row-overlap-small {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-section .edgtf-row-overlap {
    margin-top: 0;
  }
  .edgtf-section .edgtf-row-overlap .edgtf-row-overlap-small {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-two-columns-50-50 .edgtf-column,
  .edgtf-two-columns-66-33 .edgtf-column1,
  .edgtf-two-columns-66-33 .edgtf-column2,
  .edgtf-two-columns-33-66 .edgtf-column1,
  .edgtf-two-columns-33-66 .edgtf-column2,
  .edgtf-two-columns-25-75 .edgtf-column1,
  .edgtf-two-columns-25-75 .edgtf-column2,
  .edgtf-two-columns-75-25 .edgtf-column1,
  .edgtf-two-columns-75-25 .edgtf-column2,
  .edgtf-three-columns .edgtf-column,
  .edgtf-four-columns .edgtf-column {
    width: 100%;
  }
  .edgtf-two-columns-66-33 .edgtf-column1 .edgtf-column-inner,
  .edgtf-two-columns-66-33 .edgtf-column2 .edgtf-column-inner,
  .edgtf-two-columns-33-66 .edgtf-column1 .edgtf-column-inner,
  .edgtf-two-columns-33-66 .edgtf-column2 .edgtf-column-inner,
  .edgtf-two-columns-75-25 .edgtf-column1 .edgtf-column-inner,
  .edgtf-two-columns-75-25 .edgtf-column2 .edgtf-column-inner,
  .edgtf-two-columns-25-75 .edgtf-column1 .edgtf-column-inner,
  .edgtf-two-columns-25-75 .edgtf-column2 .edgtf-column-inner {
    padding: 0 0 0 0;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-section-inner-margin,
  .edgtf-five-columns > .edgtf-five-columns-inner,
  .edgtf-four-columns > .edgtf-four-columns-inner,
  .edgtf-three-columns > .edgtf-three-columns-inner,
  .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner {
    margin-left: 0px;
    margin-right: 0px;
  }
  .wpcf7-form .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner {
    margin: 0 -15px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-comment-list li.depth-2 .edgtf-comment {
    padding-left: 50px;
  }
  .edgtf-comment-list li.depth-3 .edgtf-comment {
    padding-left: 70px;
  }
  .edgtf-comment-list li.depth-4 .edgtf-comment {
    padding-left: 90px;
  }
  .edgtf-comment-list li.depth-5 .edgtf-comment {
    padding-left: 110px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-comment-form .edgtf-two-columns-50-50 > .edgtf-two-columns-50-50-inner {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-comment-holder .edgtf-comment-text .edgtf-reply-edit-holder {
    float: left;
    margin: 5px 0;
  }
  .edgtf-comment-holder .edgtf-comment-text .replay,
  .edgtf-comment-holder .edgtf-comment-text .comment-reply-link,
  .edgtf-comment-holder .edgtf-comment-text .comment-edit-link {
    margin: 0 10px 0 0;
  }
  .edgtf-comment-holder .edgtf-comment-text {
    padding: 0 0 0 100px;
    min-height: 70px;
  }
  .edgtf-comment-holder .edgtf-comment-image {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-page-header,
  .edgtf-top-bar {
    display: none;
  }
  .edgtf-mobile-header {
    display: block;
  }
  .edgtf-header-vertical .edgtf-vertical-menu-area {
    display: none;
  }
  .edgtf-header-vertical .edgtf-content,
  .edgtf-header-vertical footer {
    padding-left: 0;
  }
  .edgtf-header-vertical .carousel-inner {
    left: 0 !important;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-drop-down .edgtf-menu-wide .edgtf-menu-second > .edgtf-menu-inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-drop-down .edgtf-menu-wide .edgtf-menu-second > .edgtf-menu-inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-boxed .edgtf-page-header .edgtf-sticky-header,
  .edgtf-boxed .edgtf-page-header .edgtf-fixed-wrapper.fixed {
    width: 1020px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 860px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-boxed.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
    width: 100%;
  }
}

/* ==========================================================================
# Footer responsive - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  footer .edgtf-footer-bottom-holder .edgtf-column-inner {
    text-align: center !important;
  }
}

/* ==========================================================================
# Footer responsive - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-title.edgtf-has-background {
    background: transparent none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0 !important;
  }
  .edgtf-title.edgtf-title-image-not-responsive .edgtf-title-image {
    display: block;
  }
  .edgtf-title .edgtf-title-holder {
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
  }
  .edgtf-title .edgtf-title-holder h1 {
    font-size: 25px;
  }
  .edgtf-title .edgtf-title-holder .edgtf-container {
    display: block;
    height: 100%;
  }
  .edgtf-title .edgtf-title-holder .edgtf-container-inner {
    display: table;
    height: 100%;
  }
  .edgtf-title .edgtf-title-holder .edgtf-title-subtitle-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .edgtf-title .edgtf-title-subtitle-holder {
    padding: 0px !important;
  }
  .edgtf-title.edgtf-standard-type .edgtf-breadcrumbs-holder {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    width: 100%;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-title .edgtf-title-holder .edgtf-subtitle {
    display: none;
  }
  .edgtf-title .edgtf-title-holder .edgtf-separator-holder {
    display: none;
  }
  .edgtf-title .edgtf-title-holder h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-overlapping-content-holder .edgtf-overlapping-content {
    padding: 80px 55px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-overlapping-content-enabled .edgtf-title .edgtf-title-holder .edgtf-container {
    padding-bottom: 70px;
  }
  .edgtf-overlapping-content-holder {
    margin-top: -70px;
  }
  .edgtf-overlapping-content-holder .edgtf-overlapping-content {
    padding: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-overlapping-content-enabled .edgtf-title .edgtf-title-holder .edgtf-container {
    padding-bottom: 50px;
  }
  .edgtf-overlapping-content-holder {
    margin-top: -50px;
  }
  .edgtf-overlapping-content-holder .edgtf-overlapping-content {
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-overlapping-content-enabled .edgtf-title .edgtf-title-holder .edgtf-container {
    padding-bottom: 0;
  }
  .edgtf-overlapping-content-holder {
    margin-top: -40px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-overlapping-content-holder {
    width: 100%;
  }
}

/* ==========================================================================
   Elements Holder Responsive start style
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-two-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-three-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-four-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-five-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-six-columns .edgtf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-two-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-three-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-four-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-five-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-six-columns .edgtf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-two-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-three-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-four-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-five-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-six-columns .edgtf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-two-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-three-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-four-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-five-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-six-columns .edgtf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-two-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-three-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-four-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-five-columns .edgtf-elements-holder-item, .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-six-columns .edgtf-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-elements-holder .edgtf-elements-holder-item-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-one-column-alignment-left .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-one-column-alignment-right .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1280.edgtf-one-column-alignment-center .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-left .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-right .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-1024.edgtf-one-column-alignment-center .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-left .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-right .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-768.edgtf-one-column-alignment-center .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-one-column-alignment-left .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-one-column-alignment-right .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-600.edgtf-one-column-alignment-center .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-left .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: left;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-right .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: right;
  }
  .edgtf-elements-holder.edgtf-responsive-mode-480.edgtf-one-column-alignment-center .edgtf-elements-holder-item .edgtf-elements-holder-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   End of Elements Holder Responsive style
   ========================================================================== */
/* ==========================================================================
   Google Map start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */
/* ==========================================================================
# Team responsive style - begin
========================================================================== */
/* ==========================================================================
# Team responsive style - end
========================================================================== */
/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .edgtf-call-to-action .edgtf-call-to-action-row-75-25 .edgtf-call-to-action-column1 {
    width: 65%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .edgtf-call-to-action .edgtf-call-to-action-row-75-25 .edgtf-call-to-action-column2 {
    width: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-call-to-action .edgtf-call-to-action-cell {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-call-to-action .edgtf-text-wrapper .edgtf-call-to-action-icon-holder {
    position: relative;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-call-to-action .edgtf-text-wrapper .edgtf-call-to-action-icon {
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-call-to-action .edgtf-text-wrapper .edgtf-call-to-action-text {
    text-align: center !important;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-call-to-action.with-icon .edgtf-text-wrapper .edgtf-call-to-action-text {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-call-to-action.with-icon {
    padding: 0;
  }
}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */
/* ==========================================================================
# Counter responsive style - begin
========================================================================== */
/* ==========================================================================
# Counter responsive style - end
========================================================================== */
/* ==========================================================================
# Countdown responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .countdown-amount {
    font-size: 50px !important;
    line-height: 50px !important;
    display: block;
    text-align: center;
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-amount {
    font-size: 35px !important;
    line-height: 35px !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .countdown-period {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .countdown-period {
    font-size: 15px !important;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-period {
    font-size: 10px !important;
  }
}

/* ==========================================================================
# Countdown responsive style - end
========================================================================== */
/* ==========================================================================
   Item Showcase start styles
	========================================================================== */
@media only screen and (max-width: 1200px) {
  .edgtf-item-showcase .edgtf-item-image {
    margin-top: 0 !important;
  }
  .edgtf-item-showcase .edgtf-item:not(.edgtf-appeared) {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    transform: translateX(-40px);
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-left,
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-right {
    width: 30%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-item-showcase .edgtf-item-image {
    width: 100%;
    float: none;
    margin-bottom: 50px;
  }
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-left,
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-right {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-left,
  .edgtf-item-showcase .edgtf-item-showcase-holder.edgtf-holder-right {
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
  }
}

/* ==========================================================================
  Item Showcase end styles
  ========================================================================== */
/* ==========================================================================
# Message responsive style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .edgtf-message {
    padding: 20px 22px;
  }
}

@media screen and (max-width: 320px) {
  .edgtf-message .edgtf-message-text {
    line-height: normal;
  }
}

/* Unique style for both types - end
========================================================================== */
/* Type with icon - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .edgtf-message.edgtf-with-icon .edgtf-message-icon-holder {
    padding: 20px 22px;
  }
}

/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message responsive style - end
========================================================================== */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .edgtf-vertical-menu-area .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table {
    width: 48.75%;
    margin-bottom: 45px;
  }
  .edgtf-vertical-menu-area .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-in-table .edgtf-price {
    font-size: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table {
    width: 48.75%;
    margin-bottom: 45px;
  }
  .edgtf-pricing-tables.edgtf-four-columns .edgtf-price-table:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .edgtf-pricing-tables.edgtf-three-columns .edgtf-price-table {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-pricing-tables .edgtf-price-table {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .edgtf-pricing-tables .edgtf-price-table.edgtf-active {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tab-container {
    width: 70%;
  }
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tabs-nav {
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-tabs .edgtf-tabs-nav,
  .edgtf-tabs .edgtf-tab-container,
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tabs-nav,
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tab-container {
    width: 100%;
  }
  .edgtf-tabs .edgtf-tabs-nav li,
  .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li {
    float: none;
    display: block;
  }
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tabs-nav {
    float: none;
    padding: 0;
  }
  .edgtf-tabs.edgtf-vertical-tab .edgtf-tab-container {
    float: none;
    border-left: 0;
    padding: 9px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-accordion-holder .edgtf-title-holder .edgtf-accordion-mark,
  .edgtf-accordion-holder .edgtf-title-holder {
    padding: 10px 0;
  }
  .edgtf-accordion-holder .edgtf-title-holder {
    height: auto;
    line-height: inherit;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-accordion-holder .edgtf-title-holder.ui-state-active:after {
    display: none;
  }
  .edgtf-accordion-holder:not(.edgtf-boxed) div.edgtf-accordion-content {
    padding: 0;
  }
  .edgtf-accordion-holder:not(.edgtf-boxed) span.edgtf-tab-title {
    padding: 0 0 0 58px;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-blog-list-holder .edgtf-item-info-section > div {
    padding-right: 7px;
    margin-right: 7px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-blog-list-holder .edgtf-item-info-section > div {
    line-height: 1.8em;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-sizer,
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-item {
    width: 49%;
  }
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-gutter {
    width: 2%;
  }
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li,
  .edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li:nth-child(2n),
  .edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li:nth-child(2n+1),
  .edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li,
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li,
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-standard.edgtf-two-columns > ul > li,
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li:nth-child(2n),
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li:nth-child(2n),
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-standard.edgtf-two-columns > ul > li:nth-child(2n),
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li:nth-child(2n+1),
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li:nth-child(2n+1),
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-standard.edgtf-two-columns > ul > li:nth-child(2n+1),
  .edgtf-vertical-menu-area .edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-sizer,
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-item {
    width: 100%;
  }
  .edgtf-blog-list-holder.edgtf-masonry .edgtf-blog-list-masonry-grid-gutter {
    width: 0;
  }
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-four-columns > ul > li,
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-three-columns > ul > li,
  .edgtf-blog-list-holder.edgtf-boxes.edgtf-two-columns > ul > li,
  .edgtf-blog-list-holder.edgtf-standard.edgtf-four-columns > ul > li,
  .edgtf-blog-list-holder.edgtf-standard.edgtf-three-columns > ul > li,
  .edgtf-blog-list-holder.edgtf-standard.edgtf-two-columns > ul > li {
    width: 100% !important;
    margin: 0 0 25px !important;
  }
  .edgtf-blog-list-holder.edgtf-image-in-box .edgtf-blog-list-item-inner {
    display: block;
  }
  .edgtf-blog-list-holder.edgtf-image-in-box .edgtf-item-text-holder {
    display: block;
    padding: 20px 0;
  }
  .edgtf-blog-list-holder.edgtf-image-in-box .edgtf-item-image {
    display: block;
    width: auto;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-blog-slider .edgtf-blog-slide-post-info > div {
    padding-right: 6px;
    margin-right: 6px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-blog-slider .edgtf-blog-slide-post-info > div {
    line-height: 1.8em;
  }
}

/* ==========================================================================
# Image Gallery - begin
========================================================================== */
/* Image Gallery Grid - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-2 .edgtf-gallery-image {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-3 .edgtf-gallery-image {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-4 .edgtf-gallery-image {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 25%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery .edgtf-image-gallery-grid.edgtf-gallery-columns-5 .edgtf-gallery-image {
    width: 100%;
  }
}

/* Image Gallery Grid - end
========================================================================== */
/* Image Gallery Slider - begin
========================================================================== */
/* Image Gallery Slider - end
========================================================================== */
/* Image Masonry Gallery - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-image-gallery-masonry .edgtf-image-masonry-grid-sizer,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-square,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-portrait {
    width: 50%;
  }
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-big-square,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-landscape {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-image-gallery-masonry .edgtf-image-masonry-grid-sizer,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-square,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-portrait,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-big-square,
  .edgtf-image-gallery-masonry .edgtf-gallery-image.edgtf-size-landscape {
    width: 100%;
  }
}

/* Image Masonry Gallery - end
========================================================================== */
/* ==========================================================================
# Image Gallery - end
========================================================================== */
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  .edgtf-header-vertical .edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-ptf-six-columns article,
  .edgtf-header-vertical .edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-ptf-five-columns article,
  .edgtf-header-vertical .edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-ptf-four-columns article {
    width: 33.33%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-ptf-three-columns article, .edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-ptf-four-columns article, .edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-ptf-five-columns article, .edgtf-portfolio-list-holder-outer.edgtf-ptf-gallery.edgtf-ptf-six-columns article {
    width: 50%;
  }
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-five-columns article,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-five-columns .edgtf-portfolio-list-masonry-grid-sizer,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-four-columns article,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-four-columns .edgtf-portfolio-list-masonry-grid-sizer {
    width: 33.33%;
  }
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-five-columns article,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-five-columns .edgtf-portfolio-list-masonry-grid-sizer,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-four-columns article,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-four-columns .edgtf-portfolio-list-masonry-grid-sizer {
    width: calc(33.33% - 35px * 2 / 3);
  }
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry .edgtf-portfolio-list-masonry-grid-sizer,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry article.edgtf-default-masonry-item,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry article.edgtf-large-height-masonry-item,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry-with-space .edgtf-portfolio-list-masonry-grid-sizer,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry-with-space article.edgtf-default-masonry-item,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry-with-space article.edgtf-large-height-masonry-item {
    width: 50%;
  }
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry .edgtf-large-width-masonry-item,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry .edgtf-large-width-height-masonry-item,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry-with-space .edgtf-large-width-masonry-item,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-masonry-with-space .edgtf-large-width-height-masonry-item {
    width: 100%;
  }
  .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-four-columns .edgtf-portfolio-gap,
  .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-four-columns .mix, .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-five-columns .edgtf-portfolio-gap,
  .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-five-columns .mix, .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-six-columns .edgtf-portfolio-gap,
  .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-six-columns .mix,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-four-columns .edgtf-portfolio-gap,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-four-columns .mix,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-five-columns .edgtf-portfolio-gap,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-five-columns .mix,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-six-columns .edgtf-portfolio-gap,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-six-columns .mix {
    width: calc(33% - 12.5px);
  }
  .big-masonry .edgtf-single-masonry-grid-sizer,
  .big-masonry .edgtf-default-masonry-item,
  .big-masonry .edgtf-large-height-masonry-item {
    width: 33.33%;
  }
  .big-masonry .edgtf-large-width-height-masonry-item,
  .big-masonry .edgtf-large-width-masonry-item {
    width: 66.66%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .edgtf-portfolio-single-holder .edgtf-portfolio-info-item .edgtf-portfolio-info-item-title,
  .edgtf-portfolio-single-holder .edgtf-portfolio-info-item p {
    display: block !important;
  }
  .edgtf-portfolio-single-holder .edgtf-portfolio-social .edgtf-social-share-holder .edgtf-social-share-title {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-five-columns article,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-five-columns .edgtf-portfolio-list-masonry-grid-sizer,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-four-columns article,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-four-columns .edgtf-portfolio-list-masonry-grid-sizer,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-three-columns article,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest.edgtf-ptf-pinterest-three-columns .edgtf-portfolio-list-masonry-grid-sizer {
    width: 50%;
  }
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-five-columns article,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-five-columns .edgtf-portfolio-list-masonry-grid-sizer,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-four-columns article,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-four-columns .edgtf-portfolio-list-masonry-grid-sizer,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-three-columns article,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-pinterest-with-space.edgtf-ptf-pinterest-three-columns .edgtf-portfolio-list-masonry-grid-sizer {
    width: calc(50% - 35px / 2);
  }
  .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-four-columns .edgtf-portfolio-gap,
  .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-four-columns .mix, .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-five-columns .edgtf-portfolio-gap,
  .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-five-columns .mix, .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-six-columns .edgtf-portfolio-gap,
  .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-six-columns .mix, .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-three-columns .edgtf-portfolio-gap,
  .edgtf-ptf-standard.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-three-columns .mix,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-four-columns .edgtf-portfolio-gap,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-four-columns .mix,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-five-columns .edgtf-portfolio-gap,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-five-columns .mix,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-six-columns .edgtf-portfolio-gap,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-six-columns .mix,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-three-columns .edgtf-portfolio-gap,
  .edgtf-ptf-gallery-with-space.edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder).edgtf-ptf-three-columns .mix {
    width: calc(50% - 12.5px);
  }
  .edgtf-portfolio-single-holder:not(.big-images):not(.big-masonry):not(.big-slider) .edgtf-portfolio-info-holder {
    margin-bottom: 30px;
  }
  .big-masonry .edgtf-single-masonry-grid-sizer,
  .big-masonry .edgtf-default-masonry-item,
  .big-masonry .edgtf-large-height-masonry-item {
    width: 50%;
  }
  .big-masonry .edgtf-large-width-height-masonry-item,
  .big-masonry .edgtf-large-width-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder) article,
  .edgtf-single-masonry-grid-sizer,
  .edgtf-portfolio-list-holder-outer:not(.edgtf-portfolio-slider-holder) .edgtf-portfolio-list-masonry-grid-sizer {
    width: 100% !important;
  }
  .edgtf-portfolio-single-media:not(.edgtf-slick-slider) {
    padding: 0 !important;
    width: 100% !important;
    margin-bottom: 30px !important;
  }
  .edgtf-portfolio-media {
    margin: 0 !important;
  }
  .edgtf-portfolio-filter-holder .edgtf-portfolio-filter-holder-inner ul li {
    float: none;
    text-align: left;
  }
  .edgtf-portfolio-filter-holder .edgtf-portfolio-filter-holder-inner ul li span {
    padding-left: 0;
  }
  .edgtf-portfolio-single-holder .edgtf-portfolio-single-nav .edgtf-portfolio-prev span,
  .edgtf-portfolio-single-holder .edgtf-portfolio-single-nav .edgtf-portfolio-next span {
    display: none;
  }
}

@media only screen and (max-width: 1440px) {
  .edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner {
    width: 1100px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-portfolio-single-holder .edgtf-portfolio-single-nav-inner {
    width: 95%;
  }
}

@media only screen and (min-width: 1000px) {
  .edgtf-slider-thumbs .carousel-control.left:hover .edgtf-thumb-holder {
    left: 0;
  }
  .carousel:not(.in_progress).edgtf-slider-thumbs .carousel-control.left:hover .edgtf-prev-nav {
    left: -200px;
  }
  .edgtf-slider-thumbs .carousel-control.right:hover .edgtf-thumb-holder {
    right: 0;
  }
  .carousel:not(.in_progress).edgtf-slider-thumbs .carousel-control.right:hover .edgtf-next-nav {
    right: -200px;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel .carousel-indicators.thumbnails {
    bottom: 40px;
  }
  .carousel .carousel-indicators.thumbnails li {
    width: 120px !important;
    height: 75px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-inner {
    position: relative;
  }
  .carousel-inner > .item,
  .edgtf-slider .carousel-control,
  .edgtf-slider-elements-container {
    padding-top: 0px !important;
  }
  .carousel-inner .item.edgtf-animate-image.zoom_center .edgtf-image,
  .carousel-inner .item.edgtf-animate-image.zoom_top_left .edgtf-image,
  .carousel-inner .item.edgtf-animate-image.zoom_top_right .edgtf-image,
  .carousel-inner .item.edgtf-animate-image.zoom_bottom_left .edgtf-image,
  .carousel-inner .item.edgtf-animate-image.zoom_bottom_right .edgtf-image {
    transform: none !important;
    -webkit-transform: none !important;
  }
  .carousel .carousel-indicators.thumbnails {
    bottom: 40px;
  }
  .carousel .carousel-indicators.thumbnails li {
    width: 100px !important;
    height: 63px !important;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel .carousel-indicators.thumbnails li {
    display: inline-block;
    width: 6px !important;
    height: 6px !important;
    /* must not be overwritten by options*/
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin: 0px 3px;
  }
  .carousel .carousel-indicators.dark.thumbnails li {
    border: 2px solid rgba(0, 0, 0, 0.4);
  }
  .carousel .carousel-indicators.thumbnails .active {
    background-color: #fff;
    border-color: #fff;
    margin: 0px 3px;
  }
  .carousel .carousel-indicators.dark.thumbnails .active {
    background-color: #000;
    border-color: #000;
  }
  .carousel .carousel-indicators.thumbnails li .thumb-frame,
  .carousel .carousel-indicators.thumbnails li img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-control {
    display: none;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder .edgtf-pi-holder-inner {
    padding: 0 25px;
  }
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder .edgtf-pi-number-holder .edgtf-pi-arrow {
    right: -40px;
    font-size: 25px;
  }
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-inner {
    margin: 0 -25px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-process-holder .edgtf-process-item-holder,
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder {
    width: 33.33%;
    margin-bottom: 30px;
  }
  .edgtf-process-holder .edgtf-process-item-holder .edgtf-pi-arrow,
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder .edgtf-pi-arrow {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-process-holder .edgtf-process-item-holder,
  .edgtf-process-holder.edgtf-process-holder-items-three .edgtf-process-item-holder,
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder {
    width: 50%;
  }
  .edgtf-process-holder .edgtf-process-item-holder .edgtf-pi-arrow,
  .edgtf-process-holder.edgtf-process-holder-items-three .edgtf-process-item-holder .edgtf-pi-arrow,
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder .edgtf-pi-arrow {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-process-holder .edgtf-process-item-holder,
  .edgtf-process-holder.edgtf-process-holder-items-three .edgtf-process-item-holder,
  .edgtf-process-holder.edgtf-process-holder-items-five .edgtf-process-item-holder {
    width: 100%;
  }
}

/* ==========================================================================
   Shop masonry responsive start style
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer,
  .edgtf-shop-masonry .edgtf-shop-product {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-shop-masonry .edgtf-shop-list-masonry-grid-sizer,
  .edgtf-shop-masonry .edgtf-shop-product {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-shop-masonry .edgtf-large-width-masonry-item,
  .edgtf-shop-masonry .edgtf-large-width-height-masonry-item {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-shop-masonry .edgtf-large-width-masonry-item,
  .edgtf-shop-masonry .edgtf-large-width-height-masonry-item {
    width: 100%;
  }
}

/* ==========================================================================
   End of Shop masonry responsive style
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-text-table,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-text-table {
    width: 70%;
  }
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-button,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-button {
    bottom: 45px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-text-holder,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-text-holder {
    padding: 50px 45px;
  }
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-text-table,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-text-table {
    width: 100%;
  }
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-subtitle,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-subtitle {
    margin: 25px 0 0;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-text-table,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-text-table {
    width: 57%;
  }
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-content-left,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-content-right {
    width: 100%;
    display: table;
  }
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-content-right,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-content-left {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-subtitle,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-subtitle {
    display: none;
  }
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-title,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-title {
    font-size: 18px;
  }
  .edgtf-project-presentation.presentation-left .edgtf-pp-content-holder .edgtf-pp-text-holder,
  .edgtf-project-presentation.presentation-right .edgtf-pp-content-holder .edgtf-pp-text-holder {
    padding: 40px 45px;
  }
}

/* ==========================================================================
# Cafe Menu List responsive style - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .edgtf-cafe-menu-list .edgtf-cml-line {
    display: none;
  }
  .edgtf-cafe-menu-list .edgtf-cml-price-holder {
    text-align: right;
  }
  .edgtf-cafe-menu-list .edgtf-cml-label-holder {
    float: none;
    text-align: left;
    width: 80%;
    top: 10px;
  }
  .edgtf-cafe-menu-list .edgtf-cml-title-holder {
    width: 80%;
    white-space: normal;
  }
  .edgtf-cafe-menu-list .edgtf-cml-bottom-holder {
    margin-bottom: 25px;
    margin-top: 3px;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-cafe-menu-list.edgtf-cml-with-featured-image .edgtf-cml-item-image {
    display: none;
  }
  .edgtf-cafe-menu-list.edgtf-cml-with-featured-image .edgtf-cml-item-content {
    padding-left: 0px;
  }
}

/* ==========================================================================
# Cafe Menu List responsive style - end
========================================================================== */
/* ==========================================================================
# Masonry Gallery Responsive - start
========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-grid-sizer,
  .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-item {
    width: 50%;
  }
  .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-item.edgtf-mg-square-big, .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-item.edgtf-mg-rectangle-landscape {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-grid-sizer,
  .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-item {
    width: 100%;
  }
  .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-item.edgtf-mg-square-big .edgtf-masonry-gallery-item-title {
    font-size: 30px;
  }
  .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-item.edgtf-mg-square-big .edgtf-masonry-gallery-item-text {
    display: none;
  }
  .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-item.edgtf-mg-rectangle-landscape .edgtf-masonry-gallery-item-content {
    padding: 5px 28px 20px;
  }
  .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-item.edgtf-mg-rectangle-landscape .edgtf-masonry-gallery-item-inner .edgtf-masonry-gallery-read-more {
    bottom: 12px;
  }
  .edgtf-masonry-gallery-holder .edgtf-masonry-gallery-item.edgtf-mg-rectangle-landscape.edgtf-mg-text-info .edgtf-masonry-gallery-item-text {
    display: none;
  }
}

/* ==========================================================================
# Masonry Gallery Responsive - end
========================================================================== */
/* ==========================================================================
   Banner shortcode start responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-banner .edgtf-banner-text-holder .edgtf-banner-text-table {
    width: 81%;
    padding: 35px;
  }
  .edgtf-banner .edgtf-banner-text-holder .edgtf-banner-text-table .edgtf-banner-title {
    font-size: 30px !important;
  }
  .edgtf-banner .edgtf-banner-text-holder .edgtf-banner-text-table .edgtf-banner-text-cell .edgtf-banner-read-more {
    bottom: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-banner .edgtf-banner-text-holder .edgtf-banner-text-table {
    padding: 100px 50px;
  }
  .edgtf-banner .edgtf-banner-text-holder .edgtf-banner-text-table .edgtf-banner-text-cell .edgtf-banner-read-more {
    bottom: 97px;
  }
}

/* ==========================================================================
   Banner shortcode end responsive styles
   ========================================================================== */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .edgtf-rf-holder .edgtf-rf-col-holder,
  .edgtf-rf-holder .edgtf-rf-col-holder.edgtf-rf-time-col {
    width: 23%;
  }
  .edgtf-rf-holder .edgtf-rf-col-holder.edgtf-rf-btn-holder {
    width: 31%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-rf-holder .edgtf-rf-row {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
  }
  .edgtf-rf-holder .edgtf-rf-col-holder,
  .edgtf-rf-holder .edgtf-rf-col-holder.edgtf-rf-btn-holder,
  .edgtf-rf-holder .edgtf-rf-col-holder.edgtf-rf-time-col {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .edgtf-rf-holder .edgtf-rf-col-holder .edgtf-rf-field-holder,
  .edgtf-rf-holder .edgtf-rf-col-holder.edgtf-rf-btn-holder .edgtf-rf-field-holder,
  .edgtf-rf-holder .edgtf-rf-col-holder.edgtf-rf-time-col .edgtf-rf-field-holder {
    width: 100%;
  }
  .edgtf-rf-holder .edgtf-rf-label {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-rf-holder .edgtf-rf-col-holder,
  .edgtf-rf-holder .edgtf-rf-col-holder.edgtf-rf-btn-holder,
  .edgtf-rf-holder .edgtf-rf-col-holder.edgtf-rf-time-col {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-instagram-feed.edgtf-col-9 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-instagram-feed.edgtf-col-4 li {
    width: 50%;
  }
  .edgtf-instagram-feed.edgtf-col-6 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-instagram-feed.edgtf-col-8 li {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-instagram-feed.edgtf-col-4 li,
  .edgtf-instagram-feed.edgtf-col-3 li,
  .edgtf-instagram-feed.edgtf-col-6 li,
  .edgtf-instagram-feed.edgtf-col-9 li {
    width: 100%;
  }
}

/*# sourceMappingURL=modules-responsive.css.map */