/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_design_styles function */
.edgtf-preload-background { background-image: url(http://redbud.htssanmarcos.com/wp-content/themes/baristawp/assets/img/preload_pattern.png) !important;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_design_styles function */
body { font-family: Allerta Stencil;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_design_styles function */
.edgtf-boxed .edgtf-wrapper { background-attachment: fixed;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_h1_styles function */
h1 { font-family: Allerta Stencil;line-height: 17.6px;text-transform: uppercase;font-style: normal;font-weight: 400;letter-spacing: 0px;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_h2_styles function */
h2 { font-family: Allerta Stencil;line-height: 17.6px;text-transform: uppercase;font-style: normal;font-weight: 400;letter-spacing: 0px;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_h3_styles function */
h3 { font-family: Allerta Stencil;line-height: 17.6px;text-transform: uppercase;font-style: normal;font-weight: 400;letter-spacing: 0px;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_h4_styles function */
h4, h4.ui-helper-reset { font-family: Allerta Stencil;line-height: 17.6px;text-transform: uppercase;font-style: normal;font-weight: 400;letter-spacing: 0px;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_h5_styles function */
h5 { font-family: Allerta Stencil;line-height: 17.6px;text-transform: uppercase;font-style: normal;font-weight: 400;letter-spacing: 0px;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_h6_styles function */
h6 { font-family: Allerta Stencil;line-height: 17.6px;text-transform: uppercase;font-style: normal;font-weight: 400;letter-spacing: 0px;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_text_styles function */
p { font-family: PT Sans Caption;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/assets/custom-styles/general-custom-styles.php barista_edge_smooth_page_transition_styles function */
.edgtf-smooth-transition-loader { background-color: #ffffff;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/framework/modules/contactform7/custom-styles/contact-form.php barista_edge_contact_form7_text_styles_1 function */
.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea { height: 265px;}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/framework/modules/contactform7/custom-styles/contact-form.php barista_edge_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { background-color: rgba(255, 255, 255, 1);}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/framework/modules/contactform7/custom-styles/contact-form.php barista_edge_contact_form7_focus_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date:focus, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea:focus, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select:focus, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz:focus { background-color: rgba(255, 255, 255, 1);}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/framework/modules/footer/custom-styles/footer.php barista_edge_footer_top_styles function */
.edgtf-footer-top-holder { background-image: url(http://barista.edge-themes.com/wp-content/uploads/2017/02/footer-img.jpg);}

/* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/framework/modules/fullscreenmenu/custom-styles/fullscreen-menu.php barista_edge_fullscreen_menu_general_styles function */
.edgtf-fullscreen-menu-holder { background-image: url(http://barista.edge-themes.com/wp-content/uploads/2016/03/pattern-full-screen.png);background-position: center 0;background-repeat: no-repeat;}


        
        
        
        
	            
        
        

        
        
        
        
        
        
        
        
        
                    .edgtf-drop-down .edgtf-menu-second .edgtf-menu-inner ul li a,
            .header-widget.widget_nav_menu ul.menu li ul li a {
            border-color: #ffffff;
            }
                
        
        
        
        
        
        
        
        
        
        
                
        
                
        /* generated in /var/www/html/redbudcoffee/wp-content/themes/baristawp/framework/modules/sidearea/custom-styles/sidearea.php barista_edge_side_area_slide_from_right_type_style function */
.edgtf-side-menu-slide-from-right .edgtf-side-menu { right: -26%;width: 26%;}

